!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title The Pledge
    %link{:href => "../../dist/css/bootstrap.min.css", :rel => "stylesheet"}/
    / IE10 viewport hack for Surface/desktop Windows 8 bug
    %link{:href => "../../assets/css/ie10-viewport-bug-workaround.css", :rel => "stylesheet"}/
    / Custom styles for this template
    /[if lt IE 9] <script src="../../assets/js/ie8-responsive-file-warning.js"></script>
    %script{:src => "../../assets/js/ie-emulation-modes-warning.js"}
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

.body
  .container
    .header.clearfix
      = image_tag "pledge_logo_no_hand.png"
    #_giphy_1PMVNNKVIL8Ig{:style => "max-width: 500px;"}
    :javascript
      var _giphy = _giphy || []; _giphy.push({id: "1PMVNNKVIL8Ig",w: 500, h: 375, clickthrough_url: "http://giphy.com/gifs/80s-vintage-excited-1PMVNNKVIL8Ig"});var g = document.createElement("script"); g.type = "text/javascript"; g.async = true;g.src = ("https:" == document.location.protocol ? "https://" : "http://") + "giphy.com/static/js/widgets/embed.js";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
    .h4
      We're fired up! You are ready to go. Get started on your
      =params[:hours]
      -#TODO handle single hour
      hours for this week.
    .p
      1. Assemble your squad: get everyone
      %a{ href: "pledgeaction.org", title: "" } pledged up
      and get a meeting on the books.
    .p
      2. Recruit Squads:
      %a{ href: "pledgeaction.org", title: "" } share the pledge
      on Facebook, Twitter, etc. Finally, a post that will lead to effective action. Tag your most politically engaged friends, and tell everyone to do the same.
      (We'll keep track of hours you refer if you use the link we just e-mailed you)
    .p
      3.
      %a{ href: "https://thesixtyfive.org/home", title: "" } Call your representative
      on the issues you care about.
      %a{ href: "http://www.huffingtonpost.com/entry/contacting-your-congressional-representative_us_582a0965e4b060adb56f8e95", title: "" } It’s one of the most effective actions you can take.
      And that's what you signed up for.

    .p
      4. Build the pledge! Research, organize, engineer, and design, etc. Our
      %a{ href: "github.com/pledgeaction/web", title: "" }  github,
      %a{ href: "https://pledgeaction.slack.com/signup", title: "" } slack,
      and
      %a{ href: "https://www.facebook.com/groups/1480612095295906/", title: "" }  facebook group.
