#id
  Hey,
  %br
  %br
  ="We're fired up that " + @user.name.split[0].capitalize + " just"
  %a{:href => root_url + 'u/' + @user.url} pledged
  ="to spend " + @user.hours_pledged.round.to_s + " hours a week on political action."
  %br
  ="Top cause: " + @user.primary_cause.name + "."
  %br
  =@user.name.split[0].capitalize
  wants your advice on how to us this time as effectively as possible. Help
  =@user.name.split[0].capitalize
  keep this pledge:
  %br
.p
  %br
  1.
  %a{:href => root_url(:ref_user => @user.url)} Make your own pledge
  and get a meeting with
  =@user.name.split[0].capitalize
  on the books. There's probably more people our there looking to your for leaderships. You'll be much more effective once you are organized and your commitment is clear.
.p
  2. Spread the Word: It doesn't make sense to spend hours thinking about politics unless you are going to take action.
  %a{:href => root_url + 'u/' + @user.url} Share pledges
  on Facebook, Twitter, etc. Finally, a post that will lead to effective action. Tag your most politically engaged friends, and tell everyone to do the same.
.p
  3.
  %a{ href: "https://thesixtyfive.org/home", title: "" } Call your representatives
  about the issues you care about. It’s one of the most
  %a{ href: "http://www.huffingtonpost.com/entry/contacting-your-congressional-representative_us_582a0965e4b060adb56f8e95", title: "" } effective actions
  you can take.
.p
  4. Build the pledge! Research what's effective, organize, engineer, design, etc. Join our
  %a{ href: "https://github.com/pledgeaction/web", title: "" }  github,
  %a{ href: "https://pledgeaction.slack.com/signup", title: "" } slack,
  and
  %a{ href: "https://www.facebook.com/groups/1480612095295906/", title: "" } facebook
  group.

.p
  %br
  Good Times,
  %br
  =@user.name + " and Danny from The Pledge"
