// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

iframe {
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  border:0;
}