<!DOCTYPE html>
<html>
<head>
  <title>The Pledge</title>
  <meta property="og:url"           content="http://www.pledgeaction.org" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="The Pledge" />
  <meta property="og:description"   content="Our mission is to mobilize people to take effective political action." />
  <meta property="og:image"         content="http://www.pledgeaction.org/pledge_logo_big_final.png" />
  <meta property="og:image:width"   content="1200" />
  <meta property="og:image:height"  content="630" />
  <meta property="fb:app_id"        content="413275755688992" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@pledgeaction" />
  <meta name="twitter:title" content="The Pledge" />
  <meta name="twitter:description" content="Our mission is to mobilize people to take effective political action." />
  <meta name="twitter:image" content="http://www.pledgeaction.org/android-chrome-512x512.png" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff"></head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
<%= yield %>

</body>
</html>
